
<body>
<footer>
<div  class="footer" >
<nav>
<ul class="nav pull-right">
<li><%= link_to "home", home_path %></li>
<li>|</li>
<li><%= link_to "about", about_path %></li>
<li>|</li>
<li><%= link_to "contact", contact_path %></li>
</ul>
</nav>
</div>
</footer>
</body>
