<!DOCTYPE html>
<html>
<body>
<h1>ABC Application welcomes <%= @user.fullname %>!!!!</h1>
<p>
You are a user of ABC Application now.
<br>
Your username is: <%= @user.username %>
</p>
<p>Please log in to your gmail account : <%= @url %></p>
<p>
Thanking you!
ABC App.
</p>
</body>
</html>
